@{
    ViewData["Title"] = "Dashboard Principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Usuario</h1>
    <p>Hoy es @DateTime.Now.ToString("dddd dd 'del año' yyyy")</p>
    <p>YO SOY EL DASHBOARD</p>
</div>

